<ion-header  no-border>
  <ion-toolbar class="header-container">
    <ion-title class="title">Inventory Management
    </ion-title>
    <ion-icon class="notification-icon" slot="end" name="notifications-outline"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content class="content">
    <div>
      <ion-grid *ngFor="let inventory of inventoryList;let i=index;" class="product-container">
        <ion-row class="product-name">
             {{inventory.productName}}
          </ion-row>
          <ion-row>
            <ion-col size="8" class="vendor">
              By :  {{inventory.vendor}}

            </ion-col>
            <ion-col size="4" class="date">
                {{inventory.date}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="price">
              Price : Rs <span class="price-number">{{inventory.mrp}} </span>
            </ion-col>
            <ion-col size="4" class="status-container">
              <ion-row>STATUS</ion-row>
              <ion-row class="status">Approved</ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="button-container">
            <ion-col size="6" class="buttons" (click)="editProduct(i)">Edit Product</ion-col>
            <ion-col size="6" class="buttons" (click)="removeProduct(i)">Delete</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    <div  class="add-inventory" (click)="openAddInventoryPage()" >
        <img class="add-image" src="assets/icon/plus.svg"alt="">
    </div>
    <div *ngIf="inventoryList.length===0">
      <div class="empty-message">You Haven't add any Inventory</div>
      <div class="empty-image">
        <img src="assets/images/shopping-cart-empty-side-view.png" alt="">
      </div>
    </div>
</ion-content>


   
 